@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Raleway:0,800";
@import "https://fonts.googleapis.com/css?family=Share:0,400";
@import "https://fonts.googleapis.com/css?family=Open+Sans:0,800";
body.theme-materialize,
.theme-materialize body {
  font-family: Open Sans;
  transition-property: font-family;
  transition-duration: 1.5s; }

body.theme-bw,
.theme-bw body {
  font-family: Raleway;
  transition-property: font-family;
  transition-duration: 1.5s; }

body.theme-contrast,
.theme-contrast body {
  transition-property: font-family;
  transition-duration: 1.5s; }

/*HEADER SECTION*/
.header-jumbo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .header-jumbo.theme-materialize,
  .theme-materialize .header-jumbo {
    background-image: url(../images/theme-materialize.jpg);
    transition-property: background-image;
    transition-duration: 1.5s; }
  .header-jumbo.theme-bw,
  .theme-bw .header-jumbo {
    background-image: url(../images/theme-bw.jpg);
    transition-property: background-image;
    transition-duration: 1.5s; }
  .header-jumbo.theme-contrast,
  .theme-contrast .header-jumbo {
    background-image: url(../images/theme-bw.jpg);
    transition-property: background-image;
    transition-duration: 1.5s; }
  .header-jumbo__title {
    padding: 5vh 0; }
    .header-jumbo__title h1 {
      text-align: right;
      font-weight: bolder;
      font-size: 17vmin;
      margin: 0; }
      .header-jumbo__title h1.theme-materialize,
      .theme-materialize .header-jumbo__title h1 {
        color: white;
        font-family: Open Sans;
        transition-property: color, font-family;
        transition-duration: 1.5s; }
      .header-jumbo__title h1.theme-bw,
      .theme-bw .header-jumbo__title h1 {
        color: white;
        font-family: Raleway;
        transition-property: color, font-family;
        transition-duration: 1.5s; }
      .header-jumbo__title h1.theme-contrast,
      .theme-contrast .header-jumbo__title h1 {
        color: #ff8800;
        transition-property: color, font-family;
        transition-duration: 1.5s; }

.nav-sticky.theme-materialize,
.theme-materialize .nav-sticky {
  background: #e57171;
  box-shadow: 0 2px 2px gray;
  transition-property: background, box-shadow;
  transition-duration: 1.5s; }

.nav-sticky.theme-bw,
.theme-bw .nav-sticky {
  background: #303030;
  box-shadow: 0 2px 6px #404040;
  transition-property: background, box-shadow;
  transition-duration: 1.5s; }

.nav-sticky.theme-contrast,
.theme-contrast .nav-sticky {
  background: #1474c8;
  box-shadow: 0 2px 6px #404040;
  transition-property: background, box-shadow;
  transition-duration: 1.5s; }

.nav-sticky a.theme-materialize,
.theme-materialize .nav-sticky a {
  color: white;
  transition-property: color;
  transition-duration: 1.5s; }

.nav-sticky a.theme-bw,
.theme-bw .nav-sticky a {
  color: white;
  transition-property: color;
  transition-duration: 1.5s; }

.nav-sticky a.theme-contrast,
.theme-contrast .nav-sticky a {
  color: #ff8800;
  transition-property: color;
  transition-duration: 1.5s; }

.nav-sticky .brand-logo .material-icons.theme-materialize,
.theme-materialize .nav-sticky .brand-logo .material-icons {
  color: white;
  transition-property: color;
  transition-duration: 1.5s; }

.nav-sticky .brand-logo .material-icons.theme-bw,
.theme-bw .nav-sticky .brand-logo .material-icons {
  color: white;
  transition-property: color;
  transition-duration: 1.5s; }

.nav-sticky .brand-logo .material-icons.theme-contrast,
.theme-contrast .nav-sticky .brand-logo .material-icons {
  color: #ff8800;
  transition-property: color;
  transition-duration: 1.5s; }

/*MAIN*/
.key-intro {
  padding-top: 2rem; }
  .key-intro.theme-materialize,
  .theme-materialize .key-intro {
    color: white;
    transition-property: color;
    transition-duration: 1.5s; }
  .key-intro.theme-bw,
  .theme-bw .key-intro {
    color: white;
    transition-property: color;
    transition-duration: 1.5s; }
  .key-intro.theme-contrast,
  .theme-contrast .key-intro {
    color: #ff8800;
    transition-property: color;
    transition-duration: 1.5s; }
  .key-intro.theme-materialize,
  .theme-materialize .key-intro {
    background: lightgrey;
    transition-property: background;
    transition-duration: 1.5s; }
  .key-intro.theme-bw,
  .theme-bw .key-intro {
    background: lightgrey;
    transition-property: background;
    transition-duration: 1.5s; }
  .key-intro.theme-contrast,
  .theme-contrast .key-intro {
    background: #82a3bf;
    transition-property: background;
    transition-duration: 1.5s; }
  .key-intro__title {
    padding: 1rem; }
    .key-intro__title h4 {
      margin: 0; }
  .key-intro .col {
    padding: 2rem 0; }
  .key-intro__item {
    padding: 1rem; }

.articles article {
  padding: 4rem 0 2rem; }
  .articles article.theme-materialize,
  .theme-materialize .articles article {
    color: black;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article.theme-bw,
  .theme-bw .articles article {
    color: #4a4a4a;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article.theme-contrast,
  .theme-contrast .articles article {
    color: #121212;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article a.theme-materialize,
  .theme-materialize .articles article a {
    color: #410c0c;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article a.theme-bw,
  .theme-bw .articles article a {
    color: black;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article a.theme-contrast,
  .theme-contrast .articles article a {
    color: #06233c;
    transition-property: color;
    transition-duration: 1.5s; }

/*Themify Tool*/
@keyframes highlight-expand {
  0% { }
  50% {
    filter: brightness(130%) saturate(150%); }
  100% { } }

.themify-tool__button {
  animation-name: highlight-expand;
  animation-duration: 2s;
  animation-iteration-count: infinite; }
  .themify-tool__button.theme-materialize,
  .theme-materialize .themify-tool__button {
    background: #27a599;
    transition-property: background;
    transition-duration: 1.5s; }
  .themify-tool__button.theme-bw,
  .theme-bw .themify-tool__button {
    background: #a1a1a1;
    transition-property: background;
    transition-duration: 1.5s; }
  .themify-tool__button.theme-contrast,
  .theme-contrast .themify-tool__button {
    background: #ff8800;
    transition-property: background;
    transition-duration: 1.5s; }

.themify-tool__sub-button.theme-materialize,
.theme-materialize .themify-tool__sub-button {
  background: #e57171;
  transition-property: background;
  transition-duration: 1.5s; }

.themify-tool__sub-button.theme-bw,
.theme-bw .themify-tool__sub-button {
  background: #303030;
  transition-property: background;
  transition-duration: 1.5s; }

.themify-tool__sub-button.theme-contrast,
.theme-contrast .themify-tool__sub-button {
  background: #1474c8;
  transition-property: background;
  transition-duration: 1.5s; }

/*Footer*/
.page-footer.theme-materialize,
.theme-materialize .page-footer {
  color: white;
  background: #e57171;
  transition-property: color, background;
  transition-duration: 1.5s; }

.page-footer.theme-bw,
.theme-bw .page-footer {
  color: white;
  background: #303030;
  transition-property: color, background;
  transition-duration: 1.5s; }

.page-footer.theme-contrast,
.theme-contrast .page-footer {
  color: #ff8800;
  background: #1474c8;
  transition-property: color, background;
  transition-duration: 1.5s; }

.page-footer a.theme-materialize,
.theme-materialize .page-footer a {
  color: #6eddd2;
  text-shadow: 1px 1px 2px gray;
  transition-property: color, text-shadow;
  transition-duration: 1.5s; }

.page-footer a.theme-bw,
.theme-bw .page-footer a {
  color: #cbc8c8;
  text-shadow: 1px 1px 1px gray;
  transition-property: color, text-shadow;
  transition-duration: 1.5s; }

.page-footer a.theme-contrast,
.theme-contrast .page-footer a {
  color: #fefaf5;
  text-shadow: 1px 1px 2px gray;
  transition-property: color, text-shadow;
  transition-duration: 1.5s; }

.page-footer a:hover.theme-materialize,
.theme-materialize .page-footer a:hover {
  color: white;
  transition-property: color;
  transition-duration: 0.25s; }

.page-footer a:hover.theme-bw,
.theme-bw .page-footer a:hover {
  color: white;
  transition-property: color;
  transition-duration: 0.25s; }

.page-footer a:hover.theme-contrast,
.theme-contrast .page-footer a:hover {
  color: #ff8800;
  transition-property: color;
  transition-duration: 0.25s; }

.page-footer .btn.theme-materialize,
.theme-materialize .page-footer .btn {
  background: #27a599;
  transition-property: background;
  transition-duration: 1.5s; }

.page-footer .btn.theme-bw,
.theme-bw .page-footer .btn {
  background: #a1a1a1;
  transition-property: background;
  transition-duration: 1.5s; }

.page-footer .btn.theme-contrast,
.theme-contrast .page-footer .btn {
  background: #ff8800;
  transition-property: background;
  transition-duration: 1.5s; }

.page-footer__col-left {
  text-align: right; }

.page-footer__col-right {
  text-align: left; }

@media screen and (max-width: 600px) {
  .page-footer__col-left, .page-footer__col-right {
    text-align: center;
    padding: 1rem 0 0; } }
