@import "init";
@import "mixins";

// General
body{
  @include font-family("primary-font");
}

/*HEADER SECTION*/
.header-jumbo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    @include background-image("primary-image");

    &__title {
        padding: 5vh 0;

        h1 {
            text-align: right;
            font-weight: bolder;
            font-size: 17vmin;
            margin: 0;
            @include color("text-color-light");
        }
    };
}

.nav-sticky {
    @include background("primary-color");
    @include box-shadow("shadow-dark");

    a {
        @include color("text-color-light");
    }

    .brand-logo .material-icons {
        @include color("text-color-light");
    }
}
/*MAIN*/
.key-intro {
    padding-top: 2rem;
    @include color("text-color-light");
    @include background("grey-tone");

    &__title {
        padding: 1rem;

        h4 {
            margin: 0;
        }
    }

    .col {
        padding: 2rem 0;
    }

    &__item {
        padding: 1rem;
    }
}

.articles {
    article {
        padding: 4rem 0 2rem;
        @include color("text-color-dark");

        a {
            @include color("link-color-dark");
        }
    }
}
/*Themify Tool*/
@keyframes highlight-expand {
    0% {}

    50% {
        filter: brightness(130%) saturate(150%);
    }

    100% {}
}

.themify-tool {
    &__button {
        @include background("secondary-color");
        animation-name: highlight-expand;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    &__sub-button {
        @include background("primary-color");
    }
}
/*Footer*/
.page-footer {
    @include color("text-color-light");
    @include background("primary-color");

    a {
        @include color("link-color-light");
        @include text-shadow("shadow-light");

        &:hover{
            @include color("text-color-light");
        }
    }

    .btn {
        @include background("secondary-color");
        @include color("text-color-light");
    }

    &__col-left {
        text-align: right;
    }

    &__col-right {
        text-align: left;
    }
    @media screen and (max-width: 600px) {
        &__col-left,
        &__col-right {
            text-align: center;
            padding: 1rem 0 0;
        }
    }
}
