@import "themes";

/// Single Themify mixin. It accepts several properties and keys.
/// @access public.
/// @param {List} $properties - Properties to themify.
/// @param {List} $keys - Theme items to map properies against to.
/// @param {} $transition-duration - Duration in seconds for transition effect.
/// @param {Map} $themes [$themes] - Map of themes to use.
@mixin themify($properties, $keys, $transition-duration: $theme-transition-duration, $themes: $themeCollection) {
  // Iterate over the themes.
  @each $theme, $themeItem in $themes {
    // Create a selector CLASS -> THEME and also THEME -> CLASS.
    &.theme-#{$theme},
    .theme-#{$theme} & {
      // Iterate over each property-key value.
      @for $i from 1 through length($properties){
        $property: nth($properties,$i);
        $key: nth($keys,$i);
        #{$property}: map-get($themeItem, $key);
      }
      // Finally add transitions over themified properties.
      transition-property: #{$properties};
      transition-duration: $transition-duration;
    }
  }
}
