@import "init";
@import "mixins";

// General
body {
    @include themify(font-family, primary-font);
}

/*HEADER SECTION*/
.header-jumbo {
    // Warning: do not transitionate background-color as it must be computed and retrieved
    // by JS method 'themifyHeaderJumbo'
    @include themify((background-color, color), (secondary-color, primary-color), 0s);

    &__canvas {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        // This is just here to add transition duration to the background.
        // Background is gonna be changed dinamically by JS.
        @include themify(background, "");
    }

    &__usable-area {
        padding: 5vh 0;
    }

    &__title {
        h1 {
            text-align: right;
            font-weight: bolder;
            font-size: 17vmin;
            margin: 0;
            @include themify((color, font-family), (text-color-light, primary-font));
        }
    }

    &__updater {
      padding-top: 3vmin;

      .btn {
          background-color: rgba(0, 0, 0, 0.1);
      }
    }
}

.nav-sticky {
    @include themify((background,box-shadow),(primary-color, shadow-dark));

    a {
        @include themify(color, text-color-light);
    }

    .brand-logo .material-icons {
        @include themify(color, text-color-light);
    }

    .side-nav {
        a {
            @include themify(color, text-color-dark);
        }
    }
}

/*MAIN*/
.key-intro {
    padding-top: 2rem;
    @include themify((color, background, text-shadow), (text-color-light, grey-tone, shadow-difuse));

    &__title {
        padding: 1rem;

        h4 {
            margin: 0;
        }
    }

    .col {
        padding: 2rem 0;
    }

    &__item {
        padding: 1rem;
    }
}

.articles {
    article {
        padding: 4rem 0 2rem;
        @include themify(color, text-color-dark);

        &:nth-of-type(even) {
            @include themify(background, grey-tone-subtle);
        }

        a {
            @include themify(color, link-color-dark);
        }
    }
}
/*Themify Tool*/
@keyframes highlight-expand {
    0% {}

    50% {
        filter: brightness(130%) saturate(150%);
    }

    100% {}
}

.themify-tool {
    &__button {
        @include themify(background, secondary-color);
        animation-name: highlight-expand;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    &__sub-button {
        @include themify(background, primary-color);
    }
}
/*Footer*/
.page-footer {
    @include themify((color, background), (text-color-light, primary-color));

    a {
        @include themify((color, text-shadow), (link-color-light, shadow-light));

        &:hover {
            @include themify(color, text-color-light, 0.25s);
        }
    }

    .btn {
        @include themify(background, secondary-color);
    }

    &__col-left {
        text-align: right;
    }

    &__col-right {
        text-align: left;
    }
    @media screen and (max-width: 600px) {
        &__col-left,
        &__col-right {
            text-align: center;
            padding: 1rem 0 0;
        }
    }
}
