@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Raleway:0,600,800";
@import "https://fonts.googleapis.com/css?family=Ubuntu:0,600,800";
@import "https://fonts.googleapis.com/css?family=Open+Sans:0,600,800";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:0,600,800";
@import "https://fonts.googleapis.com/css?family=Montserrat:0,600,800";
/*GENERAL*/
body {
  background-color: white; }
  body.theme-bw,
  .theme-bw body {
    font-family: Raleway;
    transition-property: font-family;
    transition-duration: 1.5s; }
  body.theme-peach-azure,
  .theme-peach-azure body {
    font-family: Open Sans;
    transition-property: font-family;
    transition-duration: 1.5s; }
  body.theme-teal-orange,
  .theme-teal-orange body {
    font-family: Ubuntu;
    transition-property: font-family;
    transition-duration: 1.5s; }
  body.theme-contrast,
  .theme-contrast body {
    font-family: Roboto Mono;
    transition-property: font-family;
    transition-duration: 1.5s; }
  body.theme-purple,
  .theme-purple body {
    font-family: Montserrat;
    transition-property: font-family;
    transition-duration: 1.5s; }

strong {
  font-weight: 600; }

.material-tooltip .backdrop.theme-bw,
.theme-bw .material-tooltip .backdrop {
  background-color: #a1a1a1;
  transition-property: background-color;
  transition-duration: 1.5s; }

.material-tooltip .backdrop.theme-peach-azure,
.theme-peach-azure .material-tooltip .backdrop {
  background-color: #27a599;
  transition-property: background-color;
  transition-duration: 1.5s; }

.material-tooltip .backdrop.theme-teal-orange,
.theme-teal-orange .material-tooltip .backdrop {
  background-color: #ff8800;
  transition-property: background-color;
  transition-duration: 1.5s; }

.material-tooltip .backdrop.theme-contrast,
.theme-contrast .material-tooltip .backdrop {
  background-color: #f5ec3d;
  transition-property: background-color;
  transition-duration: 1.5s; }

.material-tooltip .backdrop.theme-purple,
.theme-purple .material-tooltip .backdrop {
  background-color: #f28cd9;
  transition-property: background-color;
  transition-duration: 1.5s; }

/*HEADER SECTION*/
.header-jumbo.theme-bw,
.theme-bw .header-jumbo {
  background-color: #a1a1a1;
  color: #303030;
  transition-property: background-color, color;
  transition-duration: 0s; }

.header-jumbo.theme-peach-azure,
.theme-peach-azure .header-jumbo {
  background-color: #27a599;
  color: #e57171;
  transition-property: background-color, color;
  transition-duration: 0s; }

.header-jumbo.theme-teal-orange,
.theme-teal-orange .header-jumbo {
  background-color: #ff8800;
  color: #153c47;
  transition-property: background-color, color;
  transition-duration: 0s; }

.header-jumbo.theme-contrast,
.theme-contrast .header-jumbo {
  background-color: #f5ec3d;
  color: #0d0d0d;
  transition-property: background-color, color;
  transition-duration: 0s; }

.header-jumbo.theme-purple,
.theme-purple .header-jumbo {
  background-color: #f28cd9;
  color: #35134e;
  transition-property: background-color, color;
  transition-duration: 0s; }

.header-jumbo__canvas {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .header-jumbo__canvas.theme-bw,
  .theme-bw .header-jumbo__canvas {
    transition-property: background;
    transition-duration: 1.5s; }
  .header-jumbo__canvas.theme-peach-azure,
  .theme-peach-azure .header-jumbo__canvas {
    transition-property: background;
    transition-duration: 1.5s; }
  .header-jumbo__canvas.theme-teal-orange,
  .theme-teal-orange .header-jumbo__canvas {
    transition-property: background;
    transition-duration: 1.5s; }
  .header-jumbo__canvas.theme-contrast,
  .theme-contrast .header-jumbo__canvas {
    transition-property: background;
    transition-duration: 1.5s; }
  .header-jumbo__canvas.theme-purple,
  .theme-purple .header-jumbo__canvas {
    transition-property: background;
    transition-duration: 1.5s; }

.header-jumbo__usable-area {
  padding: 5vh 0; }

.header-jumbo__title h1 {
  text-align: right;
  font-weight: bolder;
  font-size: 17vmin;
  margin: 0; }
  .header-jumbo__title h1.theme-bw,
  .theme-bw .header-jumbo__title h1 {
    color: white;
    font-family: Raleway;
    transition-property: color, font-family;
    transition-duration: 1.5s; }
  .header-jumbo__title h1.theme-peach-azure,
  .theme-peach-azure .header-jumbo__title h1 {
    color: white;
    font-family: Open Sans;
    transition-property: color, font-family;
    transition-duration: 1.5s; }
  .header-jumbo__title h1.theme-teal-orange,
  .theme-teal-orange .header-jumbo__title h1 {
    color: #fff3e6;
    font-family: Ubuntu;
    transition-property: color, font-family;
    transition-duration: 1.5s; }
  .header-jumbo__title h1.theme-contrast,
  .theme-contrast .header-jumbo__title h1 {
    color: white;
    font-family: Roboto Mono;
    transition-property: color, font-family;
    transition-duration: 1.5s; }
  .header-jumbo__title h1.theme-purple,
  .theme-purple .header-jumbo__title h1 {
    color: white;
    font-family: Montserrat;
    transition-property: color, font-family;
    transition-duration: 1.5s; }

.header-jumbo__updater {
  padding: 3vmin 0 0 3vmin; }
  .header-jumbo__updater .btn-floating {
    background-color: rgba(0, 0, 0, 0.1); }

.nav-sticky {
  z-index: 99; }
  .nav-sticky.theme-bw,
  .theme-bw .nav-sticky {
    background: #303030;
    box-shadow: 0 2px 6px #404040;
    transition-property: background, box-shadow;
    transition-duration: 1.5s; }
  .nav-sticky.theme-peach-azure,
  .theme-peach-azure .nav-sticky {
    background: #e57171;
    box-shadow: 0 2px 2px gray;
    transition-property: background, box-shadow;
    transition-duration: 1.5s; }
  .nav-sticky.theme-teal-orange,
  .theme-teal-orange .nav-sticky {
    background: #153c47;
    box-shadow: 0 2px 6px #404040;
    transition-property: background, box-shadow;
    transition-duration: 1.5s; }
  .nav-sticky.theme-contrast,
  .theme-contrast .nav-sticky {
    background: #0d0d0d;
    box-shadow: 0 2px 6px #404040;
    transition-property: background, box-shadow;
    transition-duration: 1.5s; }
  .nav-sticky.theme-purple,
  .theme-purple .nav-sticky {
    background: #35134e;
    box-shadow: 0 2px 6px #404040;
    transition-property: background, box-shadow;
    transition-duration: 1.5s; }
  .nav-sticky a.theme-bw,
  .theme-bw .nav-sticky a {
    color: white;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky a.theme-peach-azure,
  .theme-peach-azure .nav-sticky a {
    color: white;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky a.theme-teal-orange,
  .theme-teal-orange .nav-sticky a {
    color: #fff3e6;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky a.theme-contrast,
  .theme-contrast .nav-sticky a {
    color: white;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky a.theme-purple,
  .theme-purple .nav-sticky a {
    color: white;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky .brand-logo .material-icons.theme-bw,
  .theme-bw .nav-sticky .brand-logo .material-icons {
    color: white;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky .brand-logo .material-icons.theme-peach-azure,
  .theme-peach-azure .nav-sticky .brand-logo .material-icons {
    color: white;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky .brand-logo .material-icons.theme-teal-orange,
  .theme-teal-orange .nav-sticky .brand-logo .material-icons {
    color: #fff3e6;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky .brand-logo .material-icons.theme-contrast,
  .theme-contrast .nav-sticky .brand-logo .material-icons {
    color: white;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky .brand-logo .material-icons.theme-purple,
  .theme-purple .nav-sticky .brand-logo .material-icons {
    color: white;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky .side-nav a.theme-bw,
  .theme-bw .nav-sticky .side-nav a {
    color: #4a4a4a;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky .side-nav a.theme-peach-azure,
  .theme-peach-azure .nav-sticky .side-nav a {
    color: black;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky .side-nav a.theme-teal-orange,
  .theme-teal-orange .nav-sticky .side-nav a {
    color: #091b20;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky .side-nav a.theme-contrast,
  .theme-contrast .nav-sticky .side-nav a {
    color: #0d0d0d;
    transition-property: color;
    transition-duration: 1.5s; }
  .nav-sticky .side-nav a.theme-purple,
  .theme-purple .nav-sticky .side-nav a {
    color: #1a141f;
    transition-property: color;
    transition-duration: 1.5s; }

/*MAIN*/
.key-intro {
  padding-top: 2rem; }
  .key-intro.theme-bw,
  .theme-bw .key-intro {
    color: white;
    background: lightgrey;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
    transition-property: color, background, text-shadow;
    transition-duration: 1.5s; }
  .key-intro.theme-peach-azure,
  .theme-peach-azure .key-intro {
    color: white;
    background: lightgrey;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
    transition-property: color, background, text-shadow;
    transition-duration: 1.5s; }
  .key-intro.theme-teal-orange,
  .theme-teal-orange .key-intro {
    color: #fff3e6;
    background: #b0dce8;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
    transition-property: color, background, text-shadow;
    transition-duration: 1.5s; }
  .key-intro.theme-contrast,
  .theme-contrast .key-intro {
    color: white;
    background: #ebe247;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
    transition-property: color, background, text-shadow;
    transition-duration: 1.5s; }
  .key-intro.theme-purple,
  .theme-purple .key-intro {
    color: white;
    background: #debaf7;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
    transition-property: color, background, text-shadow;
    transition-duration: 1.5s; }
  .key-intro__title {
    padding: 1rem; }
    .key-intro__title h4 {
      margin: 0; }
  .key-intro .col {
    padding: 2rem 0; }
  .key-intro__item {
    padding: 1rem; }
    .key-intro__item a.theme-bw,
    .theme-bw .key-intro__item a {
      color: white;
      transition-property: color;
      transition-duration: 1.5s; }
    .key-intro__item a.theme-peach-azure,
    .theme-peach-azure .key-intro__item a {
      color: white;
      transition-property: color;
      transition-duration: 1.5s; }
    .key-intro__item a.theme-teal-orange,
    .theme-teal-orange .key-intro__item a {
      color: #fff3e6;
      transition-property: color;
      transition-duration: 1.5s; }
    .key-intro__item a.theme-contrast,
    .theme-contrast .key-intro__item a {
      color: white;
      transition-property: color;
      transition-duration: 1.5s; }
    .key-intro__item a.theme-purple,
    .theme-purple .key-intro__item a {
      color: white;
      transition-property: color;
      transition-duration: 1.5s; }
    .key-intro__item .modal.theme-bw,
    .theme-bw .key-intro__item .modal,
    .key-intro__item .modal a.theme-bw,
    .theme-bw
    .key-intro__item .modal a {
      color: #4a4a4a;
      transition-property: color;
      transition-duration: 1.5s; }
    .key-intro__item .modal.theme-peach-azure,
    .theme-peach-azure .key-intro__item .modal,
    .key-intro__item .modal a.theme-peach-azure,
    .theme-peach-azure
    .key-intro__item .modal a {
      color: black;
      transition-property: color;
      transition-duration: 1.5s; }
    .key-intro__item .modal.theme-teal-orange,
    .theme-teal-orange .key-intro__item .modal,
    .key-intro__item .modal a.theme-teal-orange,
    .theme-teal-orange
    .key-intro__item .modal a {
      color: #091b20;
      transition-property: color;
      transition-duration: 1.5s; }
    .key-intro__item .modal.theme-contrast,
    .theme-contrast .key-intro__item .modal,
    .key-intro__item .modal a.theme-contrast,
    .theme-contrast
    .key-intro__item .modal a {
      color: #0d0d0d;
      transition-property: color;
      transition-duration: 1.5s; }
    .key-intro__item .modal.theme-purple,
    .theme-purple .key-intro__item .modal,
    .key-intro__item .modal a.theme-purple,
    .theme-purple
    .key-intro__item .modal a {
      color: #1a141f;
      transition-property: color;
      transition-duration: 1.5s; }

/*Articles*/
.articles article {
  padding: 4rem 0 2rem; }
  .articles article.theme-bw,
  .theme-bw .articles article {
    color: #4a4a4a;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article.theme-peach-azure,
  .theme-peach-azure .articles article {
    color: black;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article.theme-teal-orange,
  .theme-teal-orange .articles article {
    color: #091b20;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article.theme-contrast,
  .theme-contrast .articles article {
    color: #0d0d0d;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article.theme-purple,
  .theme-purple .articles article {
    color: #1a141f;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article:nth-of-type(even).theme-bw,
  .theme-bw .articles article:nth-of-type(even) {
    background: #f2f2f2;
    transition-property: background;
    transition-duration: 1.5s; }
  .articles article:nth-of-type(even).theme-peach-azure,
  .theme-peach-azure .articles article:nth-of-type(even) {
    background: #f2f2f2;
    transition-property: background;
    transition-duration: 1.5s; }
  .articles article:nth-of-type(even).theme-teal-orange,
  .theme-teal-orange .articles article:nth-of-type(even) {
    background: #f2f2f2;
    transition-property: background;
    transition-duration: 1.5s; }
  .articles article:nth-of-type(even).theme-contrast,
  .theme-contrast .articles article:nth-of-type(even) {
    background: #f7f4ba;
    transition-property: background;
    transition-duration: 1.5s; }
  .articles article:nth-of-type(even).theme-purple,
  .theme-purple .articles article:nth-of-type(even) {
    background: #f2f2f2;
    transition-property: background;
    transition-duration: 1.5s; }
  .articles article a.theme-bw,
  .theme-bw .articles article a {
    color: black;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article a.theme-peach-azure,
  .theme-peach-azure .articles article a {
    color: #410c0c;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article a.theme-teal-orange,
  .theme-teal-orange .articles article a {
    color: #153c47;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article a.theme-contrast,
  .theme-contrast .articles article a {
    color: #302e03;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article a.theme-purple,
  .theme-purple .articles article a {
    color: black;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article .tabs a.theme-bw,
  .theme-bw .articles article .tabs a {
    color: #a1a1a1;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article .tabs a.theme-peach-azure,
  .theme-peach-azure .articles article .tabs a {
    color: #27a599;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article .tabs a.theme-teal-orange,
  .theme-teal-orange .articles article .tabs a {
    color: #ff8800;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article .tabs a.theme-contrast,
  .theme-contrast .articles article .tabs a {
    color: #f5ec3d;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article .tabs a.theme-purple,
  .theme-purple .articles article .tabs a {
    color: #f28cd9;
    transition-property: color;
    transition-duration: 1.5s; }
  .articles article .tabs .indicator.theme-bw,
  .theme-bw .articles article .tabs .indicator {
    background: #303030;
    transition-property: background;
    transition-duration: 1.5s; }
  .articles article .tabs .indicator.theme-peach-azure,
  .theme-peach-azure .articles article .tabs .indicator {
    background: #e57171;
    transition-property: background;
    transition-duration: 1.5s; }
  .articles article .tabs .indicator.theme-teal-orange,
  .theme-teal-orange .articles article .tabs .indicator {
    background: #153c47;
    transition-property: background;
    transition-duration: 1.5s; }
  .articles article .tabs .indicator.theme-contrast,
  .theme-contrast .articles article .tabs .indicator {
    background: #0d0d0d;
    transition-property: background;
    transition-duration: 1.5s; }
  .articles article .tabs .indicator.theme-purple,
  .theme-purple .articles article .tabs .indicator {
    background: #35134e;
    transition-property: background;
    transition-duration: 1.5s; }
  .articles article pre {
    border-width: thin;
    border-radius: 1vmin;
    border-style: solid; }
    .articles article pre.theme-bw,
    .theme-bw .articles article pre {
      background: #f2f2f2;
      border-color: white;
      transition-property: background, border-color;
      transition-duration: 1.5s; }
    .articles article pre.theme-peach-azure,
    .theme-peach-azure .articles article pre {
      background: #eafaf9;
      border-color: white;
      transition-property: background, border-color;
      transition-duration: 1.5s; }
    .articles article pre.theme-teal-orange,
    .theme-teal-orange .articles article pre {
      background: #fff3e6;
      border-color: #fff3e6;
      transition-property: background, border-color;
      transition-duration: 1.5s; }
    .articles article pre.theme-contrast,
    .theme-contrast .articles article pre {
      background: #fefde7;
      border-color: white;
      transition-property: background, border-color;
      transition-duration: 1.5s; }
    .articles article pre.theme-purple,
    .theme-purple .articles article pre {
      background: #fce8f7;
      border-color: white;
      transition-property: background, border-color;
      transition-duration: 1.5s; }

/*Themify Tool*/
@keyframes highlight-expand {
  0% { }
  50% {
    filter: brightness(130%) saturate(150%);
    transform: scale3d(1.1, 1.1, 1); }
  100% { } }

.themify-tool__button {
  animation-name: highlight-expand;
  animation-duration: 2s;
  animation-iteration-count: infinite; }
  .themify-tool__button.theme-bw,
  .theme-bw .themify-tool__button {
    background: #a1a1a1;
    transition-property: background;
    transition-duration: 1.5s; }
  .themify-tool__button.theme-peach-azure,
  .theme-peach-azure .themify-tool__button {
    background: #27a599;
    transition-property: background;
    transition-duration: 1.5s; }
  .themify-tool__button.theme-teal-orange,
  .theme-teal-orange .themify-tool__button {
    background: #ff8800;
    transition-property: background;
    transition-duration: 1.5s; }
  .themify-tool__button.theme-contrast,
  .theme-contrast .themify-tool__button {
    background: #f5ec3d;
    transition-property: background;
    transition-duration: 1.5s; }
  .themify-tool__button.theme-purple,
  .theme-purple .themify-tool__button {
    background: #f28cd9;
    transition-property: background;
    transition-duration: 1.5s; }

.themify-tool__sub-button.theme-bw,
.theme-bw .themify-tool__sub-button {
  background: #a1a1a1;
  transition-property: background;
  transition-duration: 1.5s; }

.themify-tool__sub-button.theme-peach-azure,
.theme-peach-azure .themify-tool__sub-button {
  background: #27a599;
  transition-property: background;
  transition-duration: 1.5s; }

.themify-tool__sub-button.theme-teal-orange,
.theme-teal-orange .themify-tool__sub-button {
  background: #ff8800;
  transition-property: background;
  transition-duration: 1.5s; }

.themify-tool__sub-button.theme-contrast,
.theme-contrast .themify-tool__sub-button {
  background: #f5ec3d;
  transition-property: background;
  transition-duration: 1.5s; }

.themify-tool__sub-button.theme-purple,
.theme-purple .themify-tool__sub-button {
  background: #f28cd9;
  transition-property: background;
  transition-duration: 1.5s; }

/*Social Card*/
.social-card-wrapper {
  padding: 5rem 0; }

.social-card.theme-bw,
.theme-bw .social-card {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
  transition-property: box-shadow;
  transition-duration: 1.5s; }

.social-card.theme-peach-azure,
.theme-peach-azure .social-card {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
  transition-property: box-shadow;
  transition-duration: 1.5s; }

.social-card.theme-teal-orange,
.theme-teal-orange .social-card {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
  transition-property: box-shadow;
  transition-duration: 1.5s; }

.social-card.theme-contrast,
.theme-contrast .social-card {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
  transition-property: box-shadow;
  transition-duration: 1.5s; }

.social-card.theme-purple,
.theme-purple .social-card {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
  transition-property: box-shadow;
  transition-duration: 1.5s; }

.social-card__content.theme-bw,
.theme-bw .social-card__content {
  color: white;
  background: #303030;
  transition-property: color, background;
  transition-duration: 1.5s; }

.social-card__content.theme-peach-azure,
.theme-peach-azure .social-card__content {
  color: white;
  background: #e57171;
  transition-property: color, background;
  transition-duration: 1.5s; }

.social-card__content.theme-teal-orange,
.theme-teal-orange .social-card__content {
  color: #fff3e6;
  background: #153c47;
  transition-property: color, background;
  transition-duration: 1.5s; }

.social-card__content.theme-contrast,
.theme-contrast .social-card__content {
  color: white;
  background: #0d0d0d;
  transition-property: color, background;
  transition-duration: 1.5s; }

.social-card__content.theme-purple,
.theme-purple .social-card__content {
  color: white;
  background: #35134e;
  transition-property: color, background;
  transition-duration: 1.5s; }

.social-card__share-area .share-link.theme-bw,
.theme-bw .social-card__share-area .share-link {
  color: #a1a1a1;
  transition-property: color;
  transition-duration: 1.5s; }

.social-card__share-area .share-link.theme-peach-azure,
.theme-peach-azure .social-card__share-area .share-link {
  color: #27a599;
  transition-property: color;
  transition-duration: 1.5s; }

.social-card__share-area .share-link.theme-teal-orange,
.theme-teal-orange .social-card__share-area .share-link {
  color: #ff8800;
  transition-property: color;
  transition-duration: 1.5s; }

.social-card__share-area .share-link.theme-contrast,
.theme-contrast .social-card__share-area .share-link {
  color: #f5ec3d;
  transition-property: color;
  transition-duration: 1.5s; }

.social-card__share-area .share-link.theme-purple,
.theme-purple .social-card__share-area .share-link {
  color: #f28cd9;
  transition-property: color;
  transition-duration: 1.5s; }

.social-card__share-area .share-link__icon.theme-bw,
.theme-bw .social-card__share-area .share-link__icon {
  color: #a1a1a1;
  opacity: 0.7;
  transition-property: color, opacity;
  transition-duration: 1.5s; }

.social-card__share-area .share-link__icon.theme-peach-azure,
.theme-peach-azure .social-card__share-area .share-link__icon {
  color: #27a599;
  opacity: 0.7;
  transition-property: color, opacity;
  transition-duration: 1.5s; }

.social-card__share-area .share-link__icon.theme-teal-orange,
.theme-teal-orange .social-card__share-area .share-link__icon {
  color: #ff8800;
  opacity: 0.7;
  transition-property: color, opacity;
  transition-duration: 1.5s; }

.social-card__share-area .share-link__icon.theme-contrast,
.theme-contrast .social-card__share-area .share-link__icon {
  color: #f5ec3d;
  opacity: 0.7;
  transition-property: color, opacity;
  transition-duration: 1.5s; }

.social-card__share-area .share-link__icon.theme-purple,
.theme-purple .social-card__share-area .share-link__icon {
  color: #f28cd9;
  opacity: 0.7;
  transition-property: color, opacity;
  transition-duration: 1.5s; }

.social-card__share-area .share-link__icon:hover {
  opacity: 1.0;
  transition-duration: 0.2s; }

/*Footer*/
.page-footer.theme-bw,
.theme-bw .page-footer {
  color: white;
  background: #303030;
  transition-property: color, background;
  transition-duration: 1.5s; }

.page-footer.theme-peach-azure,
.theme-peach-azure .page-footer {
  color: white;
  background: #e57171;
  transition-property: color, background;
  transition-duration: 1.5s; }

.page-footer.theme-teal-orange,
.theme-teal-orange .page-footer {
  color: #fff3e6;
  background: #153c47;
  transition-property: color, background;
  transition-duration: 1.5s; }

.page-footer.theme-contrast,
.theme-contrast .page-footer {
  color: white;
  background: #0d0d0d;
  transition-property: color, background;
  transition-duration: 1.5s; }

.page-footer.theme-purple,
.theme-purple .page-footer {
  color: white;
  background: #35134e;
  transition-property: color, background;
  transition-duration: 1.5s; }

.page-footer a.theme-bw,
.theme-bw .page-footer a {
  color: #f3f2f2;
  transition-property: color;
  transition-duration: 1.5s; }

.page-footer a.theme-peach-azure,
.theme-peach-azure .page-footer a {
  color: #eafaf9;
  transition-property: color;
  transition-duration: 1.5s; }

.page-footer a.theme-teal-orange,
.theme-teal-orange .page-footer a {
  color: #fef2e7;
  transition-property: color;
  transition-duration: 1.5s; }

.page-footer a.theme-contrast,
.theme-contrast .page-footer a {
  color: white;
  transition-property: color;
  transition-duration: 1.5s; }

.page-footer a.theme-purple,
.theme-purple .page-footer a {
  color: #e6e4e7;
  transition-property: color;
  transition-duration: 1.5s; }

.page-footer a:not(.btn):hover.theme-bw,
.theme-bw .page-footer a:not(.btn):hover {
  color: #a1a1a1;
  transition-property: color;
  transition-duration: 0.15s; }

.page-footer a:not(.btn):hover.theme-peach-azure,
.theme-peach-azure .page-footer a:not(.btn):hover {
  color: #27a599;
  transition-property: color;
  transition-duration: 0.15s; }

.page-footer a:not(.btn):hover.theme-teal-orange,
.theme-teal-orange .page-footer a:not(.btn):hover {
  color: #ff8800;
  transition-property: color;
  transition-duration: 0.15s; }

.page-footer a:not(.btn):hover.theme-contrast,
.theme-contrast .page-footer a:not(.btn):hover {
  color: #f5ec3d;
  transition-property: color;
  transition-duration: 0.15s; }

.page-footer a:not(.btn):hover.theme-purple,
.theme-purple .page-footer a:not(.btn):hover {
  color: #f28cd9;
  transition-property: color;
  transition-duration: 0.15s; }

.page-footer .btn.theme-bw,
.theme-bw .page-footer .btn {
  color: white;
  background: #a1a1a1;
  opacity: 0.7;
  transition-property: color, background, opacity;
  transition-duration: 1.5s; }

.page-footer .btn.theme-peach-azure,
.theme-peach-azure .page-footer .btn {
  color: white;
  background: #27a599;
  opacity: 0.7;
  transition-property: color, background, opacity;
  transition-duration: 1.5s; }

.page-footer .btn.theme-teal-orange,
.theme-teal-orange .page-footer .btn {
  color: #fff3e6;
  background: #ff8800;
  opacity: 0.7;
  transition-property: color, background, opacity;
  transition-duration: 1.5s; }

.page-footer .btn.theme-contrast,
.theme-contrast .page-footer .btn {
  color: white;
  background: #f5ec3d;
  opacity: 0.7;
  transition-property: color, background, opacity;
  transition-duration: 1.5s; }

.page-footer .btn.theme-purple,
.theme-purple .page-footer .btn {
  color: white;
  background: #f28cd9;
  opacity: 0.7;
  transition-property: color, background, opacity;
  transition-duration: 1.5s; }

.page-footer .btn:hover {
  opacity: 1.0;
  transition-duration: 0.2s; }

.page-footer__col-left {
  text-align: right; }

.page-footer__col-right {
  text-align: left; }

.page-footer .footer-copyright {
  font-size: 1.0em; }

@media screen and (max-width: 600px) {
  .page-footer__col-left, .page-footer__col-right {
    text-align: center;
    padding: 1rem 0 0; } }
